/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: linear-gradient(
    rgba(70, 130, 180, 0.7),
    rgba(70, 130, 180, 0.7)
  ), url(../img/pexels-photo.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  font-size: 16px;
  color: #eee;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

section {
  margin-bottom: 40px;
}

section h3 {
  font-size: 1.3em;
  border-bottom: 1px dashed #eee;
}

/* Navigation */
nav {
  background-color: #222;
}

nav ul {
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  margin: 0 0 30px;
}

nav ul li {
  margin: 0 10px 0;
}

nav ul li a {
  color: #eee;
  text-decoration: none;
}

nav ul li a:hover {
  color: #a1a1a1;
  text-decoration: underline;
}

nav ul.nav-right {
  justify-content: flex-end;
}

/* profile image */
.profile-image img {
  border-radius: 100%;
  display: block;
  margin: 0 auto 2em;
  max-width: 250px;
}

/* BIO */
.bio-text p, .bio-text h1, .bio-text h2 {
  color: #fff;
  /* color: #222; */
}
.bio-text h1, .bio-text h2  {
  text-align: center;
}
.bio-text h1 {
  font-size: 2em;
}
.bio-text h2 {
  font-size: 1.5em;
}
.bio-text .git {
  background-color: rgba(80, 80, 80, 0.5);
  color: #fff;
  /* color: #222; */
  padding: 0 3px;
  font-size: 0.9em;
}

/* contact */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin: 0 10px;
  border-radius: 100%;
  padding: 12px 14px;
  border: solid 1px #eee;
  font-size: 1.25em;
  color: #fff;
  background-color: rgba(4, 4, 4, 0.6);;
  transition: 0.2s all ease-in-out;
}
.icon:hover {
  background-color: #fff;
  color: #333;
  transform: translate3d(0, -5px, 0);
}
.icon > span:before {
  font-size: 1.15em;
}

/* Projects */
.projects-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

/* Project Cards */
.project-card {
  color: #333;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0 #7d7575;
  transition: 0.2s box-shadow ease-in-out;
  margin: 10px;
}
.project-card:hover {
  box-shadow: 1px 1px 9px 1px #333;
}
.project-card h3 {
  margin: 0;
  font-size: 2em;
  text-align: center;
}
.project-card img {
  max-width: 100%;
}
.project-card .built-with {
  margin: 0;
  font-size: 0.8em;
  padding: 0 0 0 15px;
  color: #696464;
  font-style: italic;
}
.project-card .technologies {
  list-style-type: none;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project-card .technologies li {
  margin: 0;
  font-size: 3em;
}
.project-card hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.project-card .description {
  clear: both;
  padding: 0 15px;
  margin: 10px 0 0;
}
.project-card .project-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #eee;
  padding: 10px;
  margin-top: 15px;
}
.project-card .project-links li > a {
  font-size: 1.3em;
  text-decoration: none;
  color: #333;
  text-shadow: none;
  transition: 0.2s all ease-in-out;
}
.project-card .project-links li > a:hover {
  text-shadow: 1px 1px 2px #607D8B;
}
.project-card .project-links li > a i {
  width: 100%;
  text-align: center;
}
.project-card .project-links li > a > span {
  display: block;
  font-size: 0.6em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
